.flickity_image {
  // width: fit-content;
  height: 500px;
  background-color: black;
}

.flickity-button {
  background-color: rgba(255, 255, 255, 0.562);
  width: 25px;
  height: 25px;
}

.hero_section_wrapper {
  padding-top: 0px;
  padding-bottom: 20px;
  margin-bottom: 50px;
}
