.product_wrapper {
  // border: 2px solid blue;
  margin: 5px;
  min-width: 200px;
  max-width: 350px;

  .product_image_container {
    min-height: 300px;
    height: fit-content;
    // background-color: gray;
    overflow: hidden;

    .product_image {
      width: 100%;
      height: 100%;
    }

    .product_image:hover {
      // border: 10px solid gold;
      transition-duration: 0.4s;
      transform: scale(1.05);
    }
  }

  .product_details_wrapper {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
