.footer_section_wrapper {
  background-color: #33383c;
  width: 100%;
  min-width: 100%;
  padding: 15px 20px;
  padding-top: 40px;
}

.footer_section {
  margin-top: 2em;
  display: flex;
  justify-content: space-evenly;
}

.footer-heading {
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  line-height: 1.2;
  font-size: 1rem;
  color: white;
}

.footer-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0;
  list-style: none;

  a {
    color: #acacac;
    line-height: 40px;
    font-size: 14px;
    transition: all 0.2s;
    text-decoration: none;
    // text-underline-offset: 4px;
    // text-decoration-thickness: 2px;

    &:hover {
      color: #e0952e;
    }
  }
}

.list-inline {
  padding-left: 0;
  list-style: none;
  margin-top: 0;
  margin-bottom: 1rem;
}

.list-inline-item {
  &:not(:last-child) {
    margin-right: 0.5rem;
  }

  display: inline-block;
}

.contact-info {
  color: #acacac;
  font-size: 16px;
}

.footer-social-icon {
  font-size: 15px;
  height: 34px;
  width: 34px;
  line-height: 34px;
  border-radius: 3px;
  text-align: center;
  display: inline-block;
}

.facebook {
  transition: transform 0.5s ease 0s;
  background-color: #4e71a8;
  color: #ffffff;
}

.twitter {
  transition: transform 0.5s ease 0s;
  background-color: #55acee;
  color: #ffffff;
}

.instagram {
  transition: transform 0.5s ease 0s;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  color: #ffffff;
}

/* HOVER */

.facebook:hover,
.twitter:hover,
.instagram:hover {
  transform: scale(1.1, 1.1);
}

.copyright {
  margin-top: 10px;
}
.footer-alt {
  color: #acacac;
}

.footer-heading {
  position: relative;
  padding-bottom: 12px;

  &:after {
    content: "";
    width: 25px;
    border-bottom: 1px solid #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    display: block;
    border-bottom: 3px solid #e0952e;
  }
}

/* For mobile phones: */
@media screen and (max-width: 750px) {
  .footer_section {
    max-width: 720px;
    display: flex;
    flex-direction: column;
    // justify-content: flex-start;
    align-items: center;

    div {
      margin-top: 30px;
    }
  }
  .footer-link {
    margin-top: 20px;

    .contact-info {
      margin-top: 5px;
    }
  }
}
