.checkout-page-wrapper {
  // border: 2px solid red;
  min-height: 400px;
  padding: 10px 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;

  .shipping-info-wrapper {
    // border: 1px solid blue;
    width: 100%;
    min-height: 300px;
    margin-right: 10px;

    .make-payment-btn {
      margin: 20px;
      outline: none;
      width: 200px;
      height: 40px;
      padding: 10px 25px;
      border: 2px solid #000;
      font-family: "Lato", sans-serif;
      font-weight: 500;
      background: black;
      cursor: pointer;
      transition: all 0.3s ease;
      position: relative;
      display: inline-block;
      border-radius: 3px;
      transition: all 0.3s ease;
      color: aliceblue;
    }

    .checkout-email-wrapper {
      min-height: 200px;
      width: 100%;
      display: flex;
      flex-direction: column;
      // align-items: center;
    }

    .checkout-input-feilds-container {
      margin-top: 20px;
      width: 100%;
      text-align: left;
      // border: 1px solid red;

      h3 {
        margin: 5px 10px;
      }

      input {
        width: 97%;
        padding: 15px;
        margin: 5px;
        border-radius: 1px;
        border: 1px solid #ccc;
        font-family: inherit;
      }
    }
  }

  .cart-wrapper {
    border: 1px solid #8c9299;
    margin-top: 57px;
    width: 100%;
    min-height: 300px;
    max-width: 500px;
    padding: 18px 20px;
    min-height: 100%;
    background-color: #fff;
    padding-bottom: 20px;

    .sd-body {
      // padding: 10px;
      max-height: calc(100vh - 67px);
      overflow-x: hidden;
    }
    .sd-body ul {
      display: inline-block;
      width: 100%;
      margin-bottom: 0;
      padding: 0;
    }
    .sd-body ul li {
      list-style: none;
      margin-bottom: 8px;
      display: flex;
    }
    .sd-body ul li .sd-link {
      display: inline-block;
      width: 100%;
      padding: 10px 12px;
      color: #475f7b;
      background-color: #e5e8ec;
      border-radius: 4px;
      cursor: pointer;
      text-decoration: none;
      text-align: left;
      display: flex;
      justify-content: flex-end;

      // .close-icon-div {
      //   position: relative;
      //   top: 0px;
      //   left: 100px;
      // }

      .remove-product-div {
        width: 25px;
        height: 20px;
        // border: 1px solid red;

        .remove-product-icon {
          width: 100%;
          height: 100%;
        }
      }

      .order_tile {
        display: flex;
        width: 100%;
        margin-right: 5px;
      }

      .sidebar-product_desc {
        // border: 1px solid red;
        text-align: left;
      }

      img {
        height: 50px;
        margin-right: 10px;
      }

      .sidebar_count_btns {
        // border: 1px solid blue;
        // min-width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 900;
        font-size: 12px;

        button {
          padding: 5px 13px;
          font-size: 16px;
          font-weight: 600;
          margin: 5px 8px;
          border: none;
          background-color: #e5e8ec;
          border-radius: 5px;
        }

        button:hover {
          border-radius: 5px;
          background-color: rgb(255, 255, 255);
        }
      }
    }
  }
}

.total-cost-delivery {
  // border: 2px solid red;
  margin-top: 20px;
  display: flex;

  ul {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    li {
      // border: 1px solid blue;
      display: flex;
      width: 100%;
      justify-content: space-between;
      padding: 2px 100px;
      font-weight: 900;
    }
    .line-break {
      margin: 5px 10px;
      width: 80%;
      height: 1px;
      background-color: #000;
    }
  }
}

@media screen and (max-width: 1250px) {
  .checkout-page-wrapper {
    padding: 10px 100px;
  }
}

@media screen and (max-width: 800px) {
  .checkout-page-wrapper {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    align-items: center;
  }
  .cart-wrapper {
    order: 1;
  }
  .shipping-info-wrapper {
    order: 2;
  }

  .total-cost-delivery {
    display: flex;
    ul {
      li {
        justify-content: space-between;
        padding: 2px 30px;
      }
      .line-break {
        width: 90%;
      }
    }
  }
}

.toast-login {
  // background-color: red;
  font-weight: 900;
  .login-link {
    text-decoration: none;
    color: red;
  }
}
